<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="info"/>
    <logger name="com.flysky.study" level="info"/>

<!--
    <logger name="org.springframework.test.context.cache" level="debug"/>
-->
    <logger name="org.dbunit" level="info"/>
    <!--<logger name="org.h2" level="trace"/>
    <logger name="org.hsqldb" level="trace"/>-->
</configuration>