<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysky.study.mybatis.mapper.SystemLogMapper">
  <resultMap id="BaseResultMap" type="com.flysky.study.mybatis.model.SystemLog">
    <!-- @flysky_generated_BaseResultMap -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @flysky_generated_BaseColumnList -->
    id, menu_id, operation_id, content
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.flysky.study.mybatis.model.SystemLog" useGeneratedKeys="true">
    <!-- @flysky_generated_insertSelective -->
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="content != null and content !=''">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="content != null and content !=''">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!-- @flysky_generated_deleteById -->
    delete from system_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByIdSelective" parameterType="com.flysky.study.mybatis.model.SystemLog">
    <!-- @flysky_generated_updateByIdSelective -->
    update system_log
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="content != null and content !=''">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.flysky.study.mybatis.model.SystemLog">
    <!-- @flysky_generated_updateById -->
    update system_log
    set menu_id = #{menuId,jdbcType=INTEGER},
      operation_id = #{operationId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_where_List">
    <!-- @flysky_generated_selectListWhereClause -->
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="menuId != null">
         and menu_id = #{menuId,jdbcType=INTEGER}
      </if>
      <if test="operationId != null">
         and operation_id = #{operationId,jdbcType=INTEGER}
      </if>
      <if test="content != null and content != ''">
         and content = #{content,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectById -->
    select 
    <include refid="Base_Column_List" />
    from system_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.flysky.study.mybatis.model.SystemLog" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectOne -->
    select 
    <include refid="Base_Column_List" />
    from system_log
    <include refid="Base_where_List" />
  </select>
  <select id="selectList" parameterType="com.flysky.study.mybatis.model.SystemLog" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectList -->
    select 
    <include refid="Base_Column_List" />
    from system_log
    <include refid="Base_where_List" />
  </select>
</mapper>