<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flysky.study.mybatis.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.flysky.study.mybatis.model.SysUser">
    <!-- @flysky_generated_BaseResultMap -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="test_id" jdbcType="INTEGER" property="testId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @flysky_generated_BaseColumnList -->
    id, name, user_name, password, create_time, update_time, test_id
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.flysky.study.mybatis.model.SysUser" useGeneratedKeys="true">
    <!-- @flysky_generated_insertSelective -->
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null and name !=''">
        name,
      </if>
      <if test="userName != null and userName !=''">
        user_name,
      </if>
      <if test="password != null and password !=''">
        password,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="testId != null">
        test_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null and name !=''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName !=''">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password !=''">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testId != null">
        #{testId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="deleteById" parameterType="java.lang.Long">
    <!-- @flysky_generated_deleteById -->
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <update id="updateByIdSelective" parameterType="com.flysky.study.mybatis.model.SysUser">
    <!-- @flysky_generated_updateByIdSelective -->
    update sys_user
    <set>
      <if test="name != null and name !=''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="userName != null and userName !=''">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password !=''">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testId != null">
        test_id = #{testId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.flysky.study.mybatis.model.SysUser">
    <!-- @flysky_generated_updateById -->
    update sys_user
    set name = #{name,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      test_id = #{testId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="Base_where_List">
    <!-- @flysky_generated_selectListWhereClause -->
    <trim prefix="where" prefixOverrides="and|or">
      <if test="id != null">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="userName != null and userName != ''">
         and user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password != ''">
         and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
         and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
         and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="testId != null">
         and test_id = #{testId,jdbcType=INTEGER}
      </if>
    </trim>
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectById -->
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" parameterType="com.flysky.study.mybatis.model.SysUser" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectOne -->
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <include refid="Base_where_List" />
  </select>
  <select id="selectList" parameterType="com.flysky.study.mybatis.model.SysUser" resultMap="BaseResultMap">
    <!-- @flysky_generated_selectList -->
    select 
    <include refid="Base_Column_List" />
    from sys_user
    <include refid="Base_where_List" />
  </select>
</mapper>